<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="image">
    <img src="/assets/images/SuperAdmin.png" alt="">
    <div class="text" style="margin-top: 4%; font-weight: bold; font-size: 12px; text-align: center;">
      Paramètre du Profil
      <div class="trait"></div>
      <div class="demande">
        <div></div>  
      </div>
    </div>
  </div>
  <div class="tout">
  </div>
  