<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <div class="image">
    <img src="/assets/images/Justice.webp" alt="">
    <div class="text" style="margin-top: 4%; font-weight: bold; font-size: 12px; text-align: center;">
      LES TRIBUNAUX A VOS SERVICES !
    </div>
  </div>
  <div class="tout">

    <div class="button1">
      <button routerLink="/commerce" >TRIBUNAL DE COMMERCE</button>
      <button>TRIBUNAL DE TRAVAIL</button>
    </div>

    <div class="milieu">
      <Button id="milieubutt"routerLink="/paix">PAIX A COMPETENCE ETENDUE</Button>
    </div>

    <div class="button1">
      <button>TRIBUNAL DE POLICE</button>
      <button>PREMIERE INSTANCE</button>
    </div>
  </div>
</ion-content>
