<!-- <ion-header>
  <ion-toolbar>
    <ion-title>paix</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="touhead">
    <div id="droite">
      <img src="assets/images/Service.jpg" alt="Logo " id="logo" />
    </div>
   </div>
   <div class="milieu">
    <div class="debut">
      <h6 class="titre" style="text-align: center; font-size: 15px;">PAIX A COMPETENCE ETENDUE</h6>
      <div class="trait"></div>
      <div class="demande">
        <div></div>  
      </div>
    </div>
  </div>

  <div class="corps">
    <h5 style="color: black; text-align: center;
    padding-top: 15px; font-weight: bold;">DESCRIPTION</h5>
     <p style="padding-left: 9px; padding-right: 9px; font-size: 11px; ">
      Le juge de paix est le juge le plus proche du citoyen.
      Il s’occupe seulement d’affaires civiles que l’on pourrait qualifier de « privées »
       pour les citoyens (par exemple des conflits de voisinage, des conflits en matière de contrat de bail, des petits montants de facture impayée, la protection des personnes vulnérables…).
        Le citoyen ne peut donc pas s’adresser à lui pour des affaires pénales ou fiscales par exemple.
    </p>
   <div class="tout" style="display: flex; justify-content: space-between;">
    <div class="gauche1">
      <h6 style="font-size: 11px; font-weight: bold; margin-left: 5px; color: #BF553B;">
        COMPETENCE :</h6>
      <h6 style="font-size: 10px; margin-left: 5px; margin-top: -5px;">
Le juge de paix connaît de toute demande.
 Il existe néanmoins des exceptions à cette compétence « générale ».  

Ainsi, le juge de paix n’est pas compétent pour toutes les demandes relevant de :   

la compétence exclusive du tribunal de police 
la compétence exclusive du tribunal de première instance 
la compétence du tribunal de la famille 
la compétence du tribunal du travail 
la compétence du tribunal de l'entreprise</h6>

      <h6 style="font-size: 11px; font-weight: bold; margin-left: 5px; color: #BF553B; margin-top: 35px;">
        COMPOSITION:</h6>
      <h6 style="font-size: 10px; margin-left: 5px; margin-top: -5px;">
        JUGE DE PAIX
         Magistrature Assise

JUGE SUPPLEANT
Magistrature Assise

Griffie
GREFFE

Greffier en chef
GREFFE

Greffier-chef de service
GREFFE

Greffier
GREFFE

Avocat</h6>

      <h6 style="font-size: 11px; font-weight: bold; margin-left: 5px; color: #BF553B;  margin-top: 35px;">
        PROCEDURE</h6>
      <h6 style="font-size: 10px; margin-left: 5px; margin-top: -5px;">Médiation
        Affaire civile
        Conciliation</h6>      

    </div>


    <div class="droite1">

     
     

       
        </div>

    </div>
   </div>
</ion-content>
