<!-- <ion-header>
  <ion-toolbar>
    <ion-title>demander</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="touhead">
    <div id="droite">
      <img src="assets/images/Service.jpg" alt="Logo " id="logo" />
    </div>
   </div>
   <div class="milieu">
    <div class="debut">
      <h6 class="titre" style="text-align: center; font-weight: bold;">DEMANDER UN SERVICE</h6>
      <div class="trait"></div>
      <div class="demande">
        <div></div>  
      </div>
    </div>
  </div>

  <div class="corps">
    <h5 style="color: white; text-align: center;
    padding-top: 15px;">DESCRIPTION</h5>
     <p style="padding-left: 9px; padding-right: 9px; font-size: 12px; ">
      Notre plateforme vous offre la possibilité de faire une demande
       d'assistance juridique, demande de certificat de nationalité, 
       et demande d'un casier judiciaire sans pourtant vous faire déplacer, 
       il vous suffit juste de suivre la procedure, d'inserer vos coordonnées 
       et joindre les les dossiers demander car tout se fait derrière votre écran.
    </p>
    <div class="toutbutton">
      <div class="buttton1">
        <button routerLink="/assistance">ASSISTANCE JURIDIQUE</button>
        <button routerLink="/certificat">CERTIFICAT DE NATIONALITE</button>
      </div>
      <div class="buttton2">
        <button routerLink="/casier">CASIER JUDICIAIRE</button>
        <button routerLink="/messagerie">MESSAGERIE</button>
      </div>
    </div>
  </div>
 
</ion-content>
